<app-menu-title />

<div>
  <div class="container_articles">
    <div class="articles__main">
      <app-big-card id=1 cardImage="https://picsum.photos/900/400" cardTitle="Lorem ipsum dolor sit amet."
        cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit." />
    </div>
    <div class="articles__others">
      <app-small-card id="2" cardTitle="Lorem" cardImage="https://picsum.photos/400/200" />
      <app-small-card id="3" cardTitle="Lorem 2" cardImage="https://picsum.photos/400/200" />
      <app-small-card id="4" cardTitle="Lorem 3" cardImage="https://picsum.photos/400/200" />
    </div>
  </div>
</div>
